<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order._id %></h1>
                            <h1>Total Price - <%= order.totalPrice %>Rs</h1>
                            <h1>Order placed at - <%= order.date.replace(" GMT+0530 (India Standard Time)", "") %></h1>
                            <ul class="orders__products">
                                <% order.products.forEach(product => { %>
                                    <li class="orders__products-item">Book Title - <%= product.title %> Qty - <%= product.qty %></li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>